$sidebar-width: 220px;

$light-blue:#5C74A4;
$dark-blue: #263248;
$black: #1E222A;
$light-black: #383E49;
$gray: #9CA2A9;
$white: #F3F5FB;
$highlight-white: rgba(156, 162, 169, 0.3);
$hover-white: rgba(156, 162, 169, 0.15);

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
}

@mixin transform($content) {
  transform: $content;
  -moz-transform: $content;
  -webkit-transform: $content;
}

@mixin transition($content) {
  transition: $content;
  -moz-transition: $content;
  -webkit-transition: $content;
}